@media screen and (min-width: 1025px) {
  body {
    /* background-color: violet; */
  }
  /* ------------SWITCHER--------------- */
  .switcher {
    /* border: 1px solid black; */
    /* display: inline-block; */
    width: 3%;
    top: 15px;
    left: 20px;
  }
  /* ------------NAVIGATION--------------- */
  .main__navigation {
    width: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .main__navigation__menu {
    width: 85%;
  }
  .main__navigation__image {
    border-radius: 50%;
    max-width: 40%;
    padding-bottom: 5%;
  }
  .main__navigation__menu__list {
    padding: 10% 2% 1% 2%;
    background-color: rgb(244, 165, 148);
    border-radius: 3%;
  }
  .main__navigation__menu__list__link {
    font-size: 1.4em;
    padding: 2% 0;
  }
  .main__navigation__menu__list h2,
  .main__navigation__menu__list__link {
    margin-bottom: 3%;
  }
  /* ------------MAIN--------------- */
  .main__info {
    width: 70%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    }
    .main__info__name {
      font-size: 2.5em;
      flex: 0 1 auto;
      padding: 2% 0 2% 0;
      display: flex;
      align-items: center;
    }
    .main__info__personage {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .main__info__image {
      max-width: 30%;
      align-self: center;
    }
    .main__info__personage table {
      width: 50%;
      height: 50%;
    }
    .main__info__text {
      flex: 1 1 auto;
      column-count: 2;
      padding: 4% 2% 0 2%;
    }

    .main__info__personage table caption {
        font-size: 1.4em;
        padding: 3% 0;
      }
}

@media screen and (min-width: 1600px) {
  .main__info__strip {
    display: flex;
    flex: 1 1 auto;
  }
  .main__info__strip__link_1 {
    flex: calc(500/700);
  }
  .main__info__strip__link_2 {
    flex: calc(500/611);
  }
  .main__info__strip__link_3 {
    flex: calc(500/700);
  }
  .main__info__strip__link_4 {
    flex: calc(500/700);
  }
  .main__info__strip__link_5 {
    flex: calc(500/700);
  }
  .main__info__strip__link_6 {
    flex: calc(500/700);
  }
  .main__info__strip__link_7 {
    flex: calc(500/700);
  }
  .main__info__strip__link_8 {
    flex: calc(500/700);
  }
  .main__info__strip__link__image {
    width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top: 30px;
    padding: 0 30px;
  }
}
