@media screen and (max-width: 900px) and (orientation: landscape) {
  body {
    background-color: crimson;
  }
  .main__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .main__navigation {
    position: absolute;
    top: 0;
    left: 90%;
  }
  .main__navigation__menu__list {
    position: absolute;
    top: -25px;
    width: 300px;
    padding: 20px;
    background-color: rgb(150, 150, 150);
    transform: translate(30%, 0);
    transition: transform 0.5s;
  }
  .main__navigation__menu input {
    display: block;
    width: 40px;
    height: 32px;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 7px;
    left: -16px;
    appearance: none;
    /* opacity: 0.5; */
  }
  .main__navigation__menu input:checked ~ .main__navigation__menu__list {
    transform: translate(-75%, 0);
  }
  /*Hamburger*/
  .main__navigation__menu span
  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    border: solid 2px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    background: #cdcdcd;
    transform-origin: 4px 0px;
    top: 13px;
    left: -11px;
    transition: transform 0.5s,
                background 0.5s,
                opacity 0.55s;
  }
.main__navigation__menu span:first-child {
    transform-origin: 0% 0%;
  }
.main__navigation__menu span:nth-of-type(3) {
    transform-origin: 0% 100%;
  }
  /*Transform all the slices of hamburger into a crossmark*/
.main__navigation__menu input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  /*But let's hide the middle one.*/
.main__navigation__menu input:checked ~ span:nth-of-type(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /*last one should go the other direction*/
.main__navigation__menu input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg) translate(0, -1px);
  }

.main__info {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    width: 70%;
  }

.main__info__personage {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}
.main__info__personage img {
    border: 1px solid gray;
    width: 40%;
  }
.main__info__name {
    width: 60%;
    text-align: center;
    margin-bottom: 0;
  }
.main__info__image{
  margin-top: 1%;
}
.main__info__personage table {
  width: 50%;
}
.main__info__text {
    width: 45%;
    margin-top: 1%;
  }
}
