@media screen and (min-width: 769px)
and (max-width: 1024px)
and (max-height: 767px)
and (not (orientation: landscape)) {
  body {
    background-color: red;
  }
  .main__info__name {
    font-size: 2em;
    flex: 0 1 auto;
    padding: 3% 0 3% 0;
  }
  .main__info__personage {
      flex: 0 1 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .main__info__personage table {
    width: 50%;
  }
  .main__info__figure {
      border: 1px solid gray;
      max-width: 25%;
    }
    .main__info__text {
        margin-top: 0;
        padding: 5%;
        font-size: 1.1em;
      }

    /* ------------NAVIGATION--------------- */
    .main__navigation {
      justify-content: flex-start;
    }
    .main__navigation__image {
      border-radius: 50%;
      max-width: 40%;
      padding-bottom: 5%;
    }
    .main__navigation__menu h2,
    .main__navigation__menu__list__link {
      margin-bottom: 5%;
    }
}
