@media screen and (min-width: 461px) and (max-width: 768px) {
  body {
    /* background-color: lime; */
  }
  /* ------------SWITCHER--------------- */
  .header__switcher {
    /* border: 1px solid black; */
    /* display: inline-block; */
    width: 5%;
    top: 15px;
    left: 15px;
  }
  /* ------------NAVIGATION--------------- */
  .main__navigation {
    /* flex: 1 0 auto; */
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: space-around;
  }
  .main__navigation__menu {
    width: 85%;
  }
  .main__navigation__menu__list {
    padding: 10% 2% 1% 2%;
    background-color: rgb(155, 15, 2);
    border-radius: 5px;
  }
  .main__navigation__menu__list__link {
    font-size: 1.4em;
  }
  .main__navigation__menu__list h2,
  .main__navigation__menu__list__link {

  }
  /* ------------MAIN--------------- */
  .main__info {
      flex: 1 1 auto;
      width: 70%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  .main__info__personage {
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .main__info__name {
      margin-bottom: 0;
    }
  .main__info__image {
      margin-top: 3%;
      margin-bottom: 3%;
      /* border: 1px solid gray; */
      width: 50%;
    }
  .main__info__text {
      margin-top: 0;
      padding: 5%;
      font-size: 1.2em;
    }
  .main__info__personage table caption {
      font-size: 1.4em;
      padding-bottom: 2%;
    }
}
