@media screen and (min-width: 461px) and (max-width: 768px) and (not (orientation: landscape)) {
  /*body {
     background-color: lime; 
  }*/
  /* ------------MAIN--------------- */
  .main__info {
    width: 70%;
  }
  .main__info__name {
    margin-bottom: 0;
  }
  .main__info__figure {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
  }
  .main__info__text {
    margin-top: 0;
    padding: 5%;
    font-size: 1.1rem;
  }
  .main__info__personage table caption {
    padding-bottom: 2%;
  }
  /* ------------NAVIGATION--------------- */
  .main__navigation {
    height: 90%;
  }
  .main__navigation__menu {
    width: 85%;
  }
  .main__navigation__menu__list {
    padding: 10% 2% 1% 2%;
  }
}
