*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: calc(12px + 0.39vw);
    line-height: 24px;
    letter-spacing: 0.05em;
    overflow-x: hidden;
    background-color: rgb(252, 233, 136);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

main,
footer,
header,
.main__container,
.main__info__name,
.main__info__personage {
}

footer {
    text-align: center;
}

nav {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.main__navigation__menu__list__link {
    display: block;
    border-radius: 5%;
    background-color: rgb(157, 36, 58);
}

/* ------------------------------- */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

/* ------------SWITCHER--------------- */
.switcher {
    cursor: pointer;
    background-color: rgb(252, 233, 136);
    position: absolute;
    z-index: 10;
    -webkit-tap-highlight-color: transparent;
}

.switcher__image {
    max-width: 100%;
    /* -webkit-tap-highlight-color: red; */
}

/* -------------MAIN------------- */
.main__container {
    flex: 1 1 auto;
    display: flex;
    position: relative;
}

.main__info {
    display: flex;
}

.main__info__text {
    text-align: justify;
}

.main__info__strip {
    display: none;
}

/* -----------TABLE---------------- */
th,
td {
    border: solid 1px;
    text-align: center;
}

.main__info__personage table {
    width: 80%;
}

/* ------------NAVIGATION--------------- */
.main__navigation {
    width: 30%;
    align-self: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.main__navigation__image {
    border-radius: 50%;
    max-width: 80%;
}

.main__navigation__menu {}

.main__navigation__menu__list {}

.main__navigation__menu__list h2,
.main__navigation__menu__list__link {
    margin-bottom: 10%;
    color: black;
    transition: color 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

.main__navigation__menu__list h2 {
    text-transform: uppercase;
}

.main__navigation__menu__list__link:hover {
    color: rgb(252, 233, 136);
}

.main__navigation__menu input,
.main__navigation__menu__burger {
    display: none;
}

/* ------------FOOTER--------------- */
footer {}

.tooltip {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: 1%;
    border-bottom: 1px dotted black;
}

.tooltip__text {
    visibility: hidden;
    width: calc(100% + 100px);
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: -30%;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip__text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip__text {
    visibility: visible;
    opacity: 1;
}