*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: white;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: calc(12px + 0.39vw);
  line-height: 24px;
  letter-spacing: 0.05em;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
a, li, span, main, footer, header,
.main__container, .main__info__name, .main__info__personage,
td, th {
    border: solid 2px;
    color: black;
}
main, footer, header {
    border-color: black;
}
nav {
    border-color: red;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
a {
    border-color: blue;
    display: block;
}
li {
    border-color: yellow;
    list-style: none;
}
/* span {
    border-color: green;
} */
/* ------------------------------- */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* ------------HEADER--------------- */
header {
  /* flex-basis: 20%; */
}
/* -------------MAIN------------- */
.main__container {
  flex: 1 1 auto;
  display: flex;
  position: relative;
}
.main__info {
  width: 70%;
  /* flex: 1 0 auto; */
  display: flex;
  padding: 2%;
}
/* ------------NAVIGATION--------------- */
.main__navigation {
  width: 30%;
  align-self: center;
  text-align: center;
  margin: 0 auto;
}
.main__navigation__menu {

}
.main__container__navigation__list {

}
.main__navigation__menu input,
.main__navigation__menu span {
  display: none;
}
/* -----------table---------------- */
th, td {
  padding: 5px 10px;
}
